<?xml version='1.0' encoding='utf-8'?>
<!DOCTYPE hibernate-configuration PUBLIC
        "-//Hibernate/Hibernate Configuration DTD 3.0//EN"
        "http://www.hibernate.org/dtd/hibernate-configuration-3.0.dtd">

<hibernate-configuration>

	<session-factory>

		<!-- Configurações de conexão com o Banco de Dados -->
		<property name="connection.driver_class">org.postgresql.Driver</property>
		<property name="connection.url">jdbc:postgresql://localhost:5432/imob</property>
		<property name="connection.username">postgres</property>
		<property name="connection.password">123456</property>

		<!-- Pool de conexão -->
		<property name="connection.pool_size">1</property>

		<!-- SQL dialect -->
		<property name="dialect">org.hibernate.dialect.PostgreSQLDialect</property>

		<!-- Gerenciamento do contexto das seções -->
		<property name="current_session_context_class">thread</property>

		<!-- Disable the second-level cache -->
		<property name="cache.provider_class">org.hibernate.cache.internal.NoCacheProvider</property>

		<!-- Mostra as sqls geradas -->
		<property name="show_sql">true</property>

		<!-- Drop and re-create the database schema on startup -->
		<property name="hbm2ddl.auto">validate</property>
		
		<!-- Mapeamento de entidades -->
		<mapping class="br.com.jlib.domain.Imovel" />
		<mapping class="br.com.jlib.domain.Localizacao" />
		<mapping class="br.com.jlib.domain.Empresa" />
		<mapping class="br.com.jlib.domain.Imagem" />
		<mapping class="br.com.jlib.domain.Usuario" />
		<mapping class="br.com.jlib.domain.Cidade" />
		<mapping class="br.com.jlib.domain.Estado" />
		<mapping class="br.com.jlib.domain.Tipo" />
		<mapping class="br.com.jlib.domain.Bairro" />
	</session-factory>

</hibernate-configuration>